@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #343232;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  padding-right: 3rem;
  /* font-family: Arial, Helvetica, sans-serif; */
}
.logo {
  width: 50%;
  height: 2px;
  background: white;
}
.navList ul {
  list-style: none;
  display: flex;
}
.navList {
  display: flex;
}
.portfolio {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 30px;
  font-weight: 600;
}
h1 {
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.navList ul li {
  padding-right: 1rem;
}
.navList ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-in-out;
}
ul li a:hover{
    color: black;
}
.btn{
  font-size: 1.3rem;
  color: black;
  cursor: pointer;
  display: none;
}
/* media queries */
@media (max-width:768px) {
  body{
    width: 100%;
    height: 100vh;
  }
  .portfolio{
    width: 100%;
  }
  .btn{
    display: block;
  }
  .navList ul{
    display: flex;
    flex-direction: column;
    position: fixed;
    padding:5rem 0;
    width: 300px;
    height: 100vh;
    background:white;
    top: 75px;
    left: -100%;
    transition: all 0.5s ease-in;
  }
  .navList ul li a{
    display:block;
    margin: 10px;
    color: black;
  }
  .navList ul li a:hover{
    background: blue;
    cursor: pointer;
  }
  .navList ul.display{
    left: 0;
    transition: all 0.9s ease-in-out;
  }
  .close-btn{
    position: absolute;
    top: 0rem;
    left: 15rem;
    margin: 25px;
  }
}
.active{
    color: black;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}
.line {
  width: 50%;
  height: 2px;
  background: white;
}
.threedots {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  gap: 5px;
}
.threedots div {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: white;
}
/* work */
.about {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  width: 100%;
  height: 80vh;
  color: #fff;
  /* font-family: Arial, Helvetica, sans-serif; */
}
.aboutPicture {
  width: 50%;
}
.aboutPicture img {
  border-radius: 100%;
  height: 100%;
}
.aboutText {
  width: 50%;
}
.aboutText h1 {
  padding: 2rem 0;
}
.aboutText p {
  font-size: 18px;
  line-height: 1.5rem;
  padding-bottom: 1rem;
}
.aboutText a {
 text-decoration: none;
}

.myWork {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  /* font-family: Arial, Helvetica, sans-serif; */
}
.myWork h1 {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}
.myWork p {
  font-size: 18px;
  text-align: center;
}
.educationPicture {
  display: flex;
  gap: 1rem;
}
.educationPicture img {
  height: 410px;
  width: 350px;
  filter: grayscale(1);
}
.educationPicture2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.educationPicture2 img{
    height: 200px;
}
.education{
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  width: 100%;
  height: 80vh;
  color: #fff;
  /* font-family: Arial, Helvetica, sans-serif; */
}
.educationText h1{
    font-size: 40px;
}
.educationText a{
    text-decoration: none;
}
.academy{
    padding: 1rem 0;
}
.nursing{
    padding: 1rem 0;
}
.aboutText h3 {
  font-size: 25px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}
.aboutText h3:nth-of-type(2) {
  margin-bottom: 10px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}
.aboutText h1 {
  font-size: 40px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
.aboutText p {
  font-size: 16px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}
.socialmedia a {
  background: transparent;
  display: inline-flex;
  height: 40px;
  width: 40px;
  border: 2px solid #1f242d;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
  text-decoration: none;
  margin: 5px 15px 5px 0;
  transition: 0.5s ease;
  /* opacity: 0; */
  /* animation: slideLeft 1s ease forwards; */
  /* animation-delay: 1s; */
  animation-delay: calc(0.2s * var(--i));
}
.socialmedia a:hover {
  background: white;
  color: #1f242d;
  transform: translateY(-20%);
}

/* media queries */
@media (max-width:600px){
  .educationPicture{
    display: none;
  }
}
/* animations */
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
